@import "tailwindcss";
:root{
  --gaya-font: 'Nunito Sans', sans-serif;
    --gaya-font2: 'Caveat', cursive;
    --gaya-font3: 'Nerko One', cursive;
}
body{
  background-image: url('./assets/1.webp');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-color: black;
  font-family:var(--gaya-font2);
}
