*{
 margin: 0;
 padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  margin-top: 100px;
  border: 2px solid black;
  height: 250px;
  border-radius: 3px 3px 0px 0px;
  background-color: #0B0C12;
  width: 190px;
}
#text1{
  height: 40px;
  width: 190px;
  font-size: 20px;
  font-family: monospace;
  background-color: #1A1C2C;
  color: #fff;
  border: none;
}
#text1:focus{
  opacity: 1;
  background-color: #58595F;
}
.keys{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 50%;
  background-color: black ;
  width: 35px;
  color: white;
  text-align: center;
}
.btns:hover {
  filter: brightness(120%)
}

.btns:active {
  filter: brightness(50%)
}
.orange{
  color: darkorange;
}