*{
  margin:0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222432
  ;
  background: linear-gradient(90deg, rgba(2,0,36,1)100%);
}
h1{
  background-color:#22959C;
  border-radius: 10px;
  text-align : center;
  color:#B8CFCF;
  filter: drop-shadow(1px 6px 10px #0000);
  animation-name: tracking-in-expand;
}
.form{
  margin-top:40px;
  padding:30px;
  border:3px solid #0F334996;
  border-radius:5px;
  color:#B20DA1;
  background-color:#60D2E5;
  display: flex;
  align-items:stretch;
  
}
.f1{
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-content: center;
}
#btn{
  display: flex;
  width: 7rem;
  justify-self: center;
  border:0.1rem solid ;
  border-radius: 6px;
  color:#046520;
  background-color:#A6F1BC;
}
#t1{
  color:yellow;
  background-color:gray;
  border-radius: 4px;
}
#pas{
  color:yellow;
  background-color:gray;
  border-radius: 4px;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
